@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

body{
  background-color: #111;
}

progress[value] {
  appearance: none;
  width: 250px;
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #0b0a0a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 20px;
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  background-color: #a4ad44;
}


@layer components {
  .btn-red {
    @apply bg-red-600 text-white font-medium  rounded hover:bg-red-700 transition-all;
  }
}


@layer utilities {
  .background {
    background: linear-gradient(
      180deg,
      rgba(0,0,0,0.8) 0%,
      rgba(0,0,0,0.75) 10%,
      rgba(0,0,0,0.6) 25%,
      rgba(0,0,0,0.4) 50%,
      rgba(0,0,0,0.2) 75%,
      rgba(0,0,0,0) 100%
    );
  }
}

@layer components {
  .footer-link {
    @apply text-gray-400 text-sm hover:underline hover:text-white transition;
  }
}
